body {
    color: white;
    background: url(./grass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form div {
    padding: 20px;
}

#court {
    border: 1px solid black;
    background-color: #10151d;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 600px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}